<section class="award">
    <div class="container">
        <div class="award__inner">
            <div class="award__description">
                <p class="center award__sub-heading sub-heading">#Awards</p>
                <h2 class="center heading">Our Honors & Awards</h2>
            </div>
            <div class="award__img">
                <div class="row gy-5 row-cols-xl-2 row-cols-md-1">
                    <div class="col center">
                        <div class="award__img-wrapper">
                            <img src="./assets/images/award-1.png" alt="" />
                        </div>
                    </div>
                    <div class="col center">
                        <div class="award__img-wrapper">
                            <img src="./assets/images/award-2.png" alt="" />
                        </div>
                    </div>
                    <div class="col center">
                        <div class="award__img-wrapper">
                            <img src="./assets/images/award-3.png" alt="" />
                        </div>
                    </div>
                    <div class="col center">
                        <div class="award__img-wrapper">
                            <img src="./assets/images/award-4.png" alt="" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
