<section class="cta">
    <div class="container">
        <div class="cta__inner">
            <div class="cta__header">
                <p>#CTA</p>
                <h2 class="heading">Dealing With a Issue?</h2>
                <p class="cta__paragraph">
                    Where every injury is personal. We are a different kind of
                    law firm. Let our small, passionate group of trial lawyers
                    fight for your rights!
                </p>
            </div>
            <button class="btn">Get a Consultations</button>
        </div>
    </div>
</section>
