<footer class="footer">
    <div class="container">
        <div class="footer__inner">
            <div class="footer__content">
                <div class="row gy-3 row-cols-md-1">
                    <div class="col-2 col-xl-4">
                        <div class="footer__item">
                            <h5>Justice</h5>
                            <p class="p-2">Privacy Policy</p>
                            <p class="p-2">Terms & Conditions</p>
                            <p class="p-2">Cookie Preferences</p>
                        </div>
                    </div>
                    <div class="col-2 col-xl-4">
                        <div class="footer__item">
                            <h5>Pages</h5>
                            <p class="p-2">Home</p>
                            <p class="p-2">About</p>
                            <p class="p-2">Practice Areas</p>
                            <p class="p-2">Attorneys</p>
                        </div>
                    </div>
                    <div class="col-3 col-xl-4">
                        <div class="footer__item">
                            <h5>Justice</h5>
                            <p class="p-2">
                                50 Harrison Street, PH Suite 445 Hoboken, NJ
                                07030
                                <br />
                                (000) 123-4567 yourlawfirm22@gmail.com
                            </p>
                        </div>
                    </div>
                    <div class="col-5 col-xl-12">
                        <div class="footer__item">
                            <img
                                class="footer__map--xxl"
                                src="assets/images/map.png"
                                alt=""
                            />
                            <img
                                class="footer__map--sm"
                                src="assets/images/map-sm.png"
                                alt=""
                            />
                            <button class="footer__btn">View Large Map</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer__bottom">
                <div class="footer__logo">
                    <img src="assets/images/hammer-2.svg" alt="" />
                    <h3 class="justice">Justice</h3>
                    <p class="law-firm">Law Firm</p>
                </div>
                <div class="footer__social">
                    <p class="p-3">
                        Copyright © 2022 UI HUT All Rights Reserved
                    </p>
                    <img src="assets/images/social.svg" alt="" />
                </div>
            </div>
        </div>
    </div>
</footer>
