<div class="header__top">
    <div class="header__logo">
        <a href="/"
            ><img
                class="header__vector-logo"
                src="./assets/images/hammer.svg"
                alt=""
        /></a>
        <a class="header__text-1" href="/">Justice</a>
        <a class="header__text-2" href="/">Law Firm</a>
    </div>
    <input type="checkbox" id="nav-toggle" hidden />
    <label for="nav-toggle" class="header__menu-bar">
        <i class="fa-solid fa-bars"></i>
    </label>
    <ul class="header__menu">
        <li class="header__menu-item">
            <input type="checkbox" id="sub-nav-toggle" hidden />
            <label for="sub-nav-toggle">
                Home <i class="fa-solid fa-angle-down"></i>
            </label>
            <ul class="header__sub-menu">
                <li class="header__sub-menu--flex">
                    <a href="#">Home</a>
                </li>
                <li class="header__sub-menu--flex">
                    <a href="#">Real Estate Law Firm</a>
                </li>
                <li class="header__sub-menu--flex">
                    <a href="#">Lawyer firm Agency 1</a>
                </li>
                <li class="header__sub-menu--flex">
                    <a href="#">Lawyer firm Agency 2</a>
                </li>
            </ul>
        </li>
        <li class="header__menu-item">
            <input type="checkbox" id="sub-nav-toggle-2" hidden />
            <label for="sub-nav-toggle-2">
                About <i class="fa-solid fa-angle-down"></i>
            </label>
            <ul class="header__sub-menu">
                <li class="header__sub-menu--flex">
                    <a href="#">About 1</a>
                </li>
                <li class="header__sub-menu--flex">
                    <a href="#">About 2</a>
                </li>
                <li class="header__sub-menu--flex">
                    <a href="#">About 3</a>
                </li>
                <li class="header__sub-menu--flex">
                    <a href="#">About 4</a>
                </li>
            </ul>
        </li>
        <li class="header__menu-item">
            <input type="checkbox" id="sub-nav-toggle-3" hidden />
            <label for="sub-nav-toggle-3">
                Practice Areas <i class="fa-solid fa-angle-down"></i>
            </label>
            <ul class="header__sub-menu">
                <li class="header__sub-menu--flex">
                    <a href="#">Divorce</a>
                </li>
                <li class="header__sub-menu--flex">
                    <a href="#">Personal Injury</a>
                    <i class="fa-solid fa-angle-right"></i>
                </li>
                <li class="header__sub-menu--flex">
                    <a href="#">Employment</a>
                    <i class="fa-solid fa-angle-right"></i>
                </li>
                <li class="header__sub-menu--flex">
                    <a href="#">Immigration</a
                    ><i class="fa-solid fa-angle-right"></i>
                </li>
                <li class="header__sub-menu--flex">
                    <a href="#">Family</a
                    ><i class="fa-solid fa-angle-right"></i>
                </li>
                <li class="header__sub-menu--flex">
                    <a href="#">Property</a
                    ><i class="fa-solid fa-angle-right"></i>
                </li>
            </ul>
        </li>
        <li class="header__menu-item">
            <a href="#">Attorneys</a>
        </li>
        <li class="header__menu-item">
            <input type="checkbox" id="sub-nav-toggle-4" hidden />
            <label for="sub-nav-toggle-4">
                Pages <i class="fa-solid fa-angle-down"></i>
            </label>
            <ul class="header__sub-menu">
                <li class="header__sub-menu--flex">
                    <a href="#">Blog</a>
                </li>
                <li class="header__sub-menu--flex">
                    <a href="#">Contact</a>
                </li>
                <li class="header__sub-menu--flex">
                    <a href="#">FAQ</a>
                </li>
                <li class="header__sub-menu--flex">
                    <a href="#">404</a>
                </li>
                <li class="header__sub-menu--flex">
                    <a href="#">Coming Soon</a>
                </li>
            </ul>
        </li>
    </ul>
    <div class="header__contact">
        <p>Call :</p>
        <p>(000) 123 456 789</p>
    </div>
</div>
