<div class="practice-area__description center">
    <p class="sub-heading">#Services</p>
    <h2 class="heading">Our Practice Areas</h2>
    <p class="practice-area__paragraph">
        Our Law Office provides a professional experience for all
        <br />
        our clients, helping them navigate their legal rights.
    </p>
</div>
<div class="practice-area__image">
    <div
        class="row row-cols-3 g-3 row-cols-xl-2 g-2 row-cols-lg-1 offset-lg-3 offset-md-1 offset-sm-0"
    >
        <div class="col">
            <div class="practice-area__card">
                <img
                    class="practice-area__card--xxl"
                    src="./assets/images/prac-area-1.png"
                    alt=""
                />
                <img
                    class="practice-area__card--sm"
                    src="./assets/images/prac-area-1-sm.png"
                    alt=""
                />
                <button class="practice-area__law">Personal Injury Law</button>
            </div>
        </div>
        <div class="col">
            <div class="practice-area__card">
                <img
                    class="practice-area__card--xxl"
                    src="./assets/images/prac-area-2.png"
                    alt=""
                />
                <img
                    class="practice-area__card--sm"
                    src="./assets/images/prac-area-2-sm.png"
                    alt=""
                />
                <button class="practice-area__law">Employment Law</button>
            </div>
        </div>
        <div class="col">
            <div class="practice-area__card">
                <img
                    class="practice-area__card--xxl"
                    src="./assets/images/prac-area-3.png"
                    alt=""
                />
                <img
                    class="practice-area__card--sm"
                    src="./assets/images/prac-area-3-sm.png"
                    alt=""
                />
                <button class="practice-area__law">Immigration Law</button>
            </div>
        </div>
        <div class="col">
            <div class="practice-area__card">
                <img
                    class="practice-area__card--xxl"
                    src="./assets/images/prac-area-4.png"
                    alt=""
                />
                <img
                    class="practice-area__card--sm"
                    src="./assets/images/prac-area-4-sm.png"
                    alt=""
                />
                <button class="practice-area__law">Family Law</button>
            </div>
        </div>
        <div class="col">
            <div class="practice-area__card">
                <img
                    class="practice-area__card--xxl"
                    src="./assets/images/prac-area-5.png"
                    alt=""
                />
                <img
                    class="practice-area__card--sm"
                    src="./assets/images/prac-area-5-sm.png"
                    alt=""
                />
                <button class="practice-area__law">Divorce Law</button>
            </div>
        </div>
        <div class="col">
            <div class="practice-area__card">
                <img
                    class="practice-area__card--xxl"
                    src="./assets/images/prac-area-6.png"
                    alt=""
                />
                <img
                    class="practice-area__card--sm"
                    src="./assets/images/prac-area-6-sm.png"
                    alt=""
                />
                <button class="practice-area__law">Property Law</button>
            </div>
        </div>
    </div>
</div>
