<section class="team">
    <div class="container">
        <div class="team__inner">
            <div class="team__description">
                <p class="team__sub-heading sub-heading">#Team</p>
                <h2 class="heading">Meet With Lawyers</h2>
                <p class="team__paragraph">
                    Our team of experienced team more than $150 Million in
                    <br />
                    Settlements and Judgments for Our Clients
                </p>
            </div>
            <div class="row row-cols-3 g-3 row-cols-xl-2 row-cols-lg-1 px-sm-0">
                <div class="col center">
                    <div class="team__item">
                        <img
                            class="team__item--xxl"
                            src="./assets/images/team-1.png"
                            alt=""
                        />
                        <img
                            class="team__item--sm"
                            src="./assets/images/team-1-sm.png"
                            alt=""
                        />
                        <button class="show-profile btn">View Profile</button>
                        <p class="bold">David Warner</p>
                        <p>Attorney at Law</p>
                    </div>
                </div>
                <div class="col center">
                    <div class="team__item">
                        <img
                            class="team__item--xxl"
                            src="./assets/images/team-2.png"
                            alt=""
                        />
                        <img
                            class="team__item--sm"
                            src="./assets/images/team-2-sm.png"
                            alt=""
                        />
                        <p class="bold">Aaron Finch</p>
                        <p>Founding President</p>
                    </div>
                </div>
                <div class="col center">
                    <div class="team__item">
                        <img
                            class="team__item--xxl"
                            src="./assets/images/team-3.png"
                            alt=""
                        />
                        <img
                            class="team__item--sm"
                            src="./assets/images/team-3-sm.png"
                            alt=""
                        />
                        <p class="bold">Jamie Watts</p>
                        <p>Partner</p>
                    </div>
                </div>
                <div class="col center">
                    <div class="team__item">
                        <img
                            class="team__item--xxl"
                            src="./assets/images/team-4.png"
                            alt=""
                        />
                        <img
                            class="team__item--sm"
                            src="./assets/images/team-4-sm.png"
                            alt=""
                        />
                        <p class="bold">Ellyse Perry</p>
                        <p>Associate Attorney</p>
                    </div>
                </div>
                <div class="col center">
                    <div class="team__item">
                        <img
                            class="team__item--xxl"
                            src="./assets/images/team-5.png"
                            alt=""
                        />
                        <img
                            class="team__item--sm"
                            src="./assets/images/team-5-sm.png"
                            alt=""
                        />
                        <p class="bold">Meg Lanning</p>
                        <p>Senior Partner</p>
                    </div>
                </div>
                <div class="col center">
                    <div class="team__item">
                        <img
                            class="team__item--xxl"
                            src="./assets/images/team-6.png"
                            alt=""
                        />
                        <img
                            class="team__item--sm"
                            src="./assets/images/team-6-sm.png"
                            alt=""
                        />
                        <p class="bold">Peter Siddle</p>
                        <p>Of Counsel</p>
                    </div>
                </div>
            </div>
            <div class="team__btn">
                <button class="btn">All Attorney</button>
            </div>
        </div>
    </div>
</section>
