<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Blog</title>
        <%- include("./partials/head.ejs") %>
    </head>
    <body>
        <header class="blog">
            <div class="container"><%- include("./partials/header") %></div>
        </header>
        <main>
            <section class="blog__inner">
                <div class="container">
                    <div class="blog__top">
                        <h1 class="heading--main">Our Regular Blog</h1>
                        <p class="blog__gray p-2">
                            With our experience we are ready to help you create
                            a modern <br />
                            property with an easy step.
                        </p>
                    </div>
                    <div class="blog__content">
                        <div
                            class="row row-cols-4 gx-3 gy-4 row-cols-xl-3 row-cols-lg-2 row-cols-md-1 offset-md-2 offset-sm-1"
                        >
                            <div class="col">
                                <div class="blog__item">
                                    <img
                                        src="./assets/images/blog-page-1.png"
                                        alt=""
                                    />
                                    <p class="p-1m blog_item--gap">
                                        Top 20 Effective Digital Marketing Tools
                                        to Help
                                    </p>
                                    <p class="p-2">July 27, 2021</p>
                                </div>
                            </div>
                            <div class="col">
                                <div class="blog__item">
                                    <img
                                        src="./assets/images/blog-page-2.png"
                                        alt=""
                                    />
                                    <p class="p-1m blog_item--gap">
                                        Top 20 Effective Digital Marketing Tools
                                        to Help
                                    </p>
                                    <p class="p-2 blog__gray">July 27, 2021</p>
                                </div>
                            </div>
                            <div class="col">
                                <div class="blog__item">
                                    <img
                                        src="./assets/images/blog-page-3.png"
                                        alt=""
                                    />
                                    <p class="p-1m blog_item--gap">
                                        Top 20 Effective Digital Marketing Tools
                                        to Help
                                    </p>
                                    <p class="p-2 blog__gray">July 27, 2021</p>
                                </div>
                            </div>
                            <div class="col">
                                <div class="blog__item">
                                    <img
                                        src="./assets/images/blog-page-4.png"
                                        alt=""
                                    />
                                    <p class="p-1m blog_item--gap">
                                        Top 20 Effective Digital Marketing Tools
                                        to Help
                                    </p>
                                    <p class="p-2 blog__gray">July 27, 2021</p>
                                </div>
                            </div>
                            <div class="col">
                                <div class="blog__item">
                                    <img
                                        src="./assets/images/blog-page-5.png"
                                        alt=""
                                    />
                                    <p class="p-1m blog_item--gap">
                                        Top 20 Effective Digital Marketing Tools
                                        to Help
                                    </p>
                                    <p class="p-2">July 27, 2021</p>
                                </div>
                            </div>
                            <div class="col">
                                <div class="blog__item">
                                    <img
                                        src="./assets/images/blog-page-6.png"
                                        alt=""
                                    />
                                    <p class="p-1m blog_item--gap">
                                        Top 20 Effective Digital Marketing Tools
                                        to Help
                                    </p>
                                    <p class="p-2 blog__gray">July 27, 2021</p>
                                </div>
                            </div>
                            <div class="col">
                                <div class="blog__item">
                                    <img
                                        src="./assets/images/blog-page-7.png"
                                        alt=""
                                    />
                                    <p class="p-1m blog_item--gap">
                                        Top 20 Effective Digital Marketing Tools
                                        to Help
                                    </p>
                                    <p class="p-2 blog__gray">July 27, 2021</p>
                                </div>
                            </div>
                            <div class="col">
                                <div class="blog__item">
                                    <img
                                        src="./assets/images/blog-page-8.png"
                                        alt=""
                                    />
                                    <p class="p-1m blog_item--gap">
                                        Top 20 Effective Digital Marketing Tools
                                        to Help
                                    </p>
                                    <p class="p-2 blog__gray">July 27, 2021</p>
                                </div>
                            </div>
                            <div class="col">
                                <div class="blog__item">
                                    <img
                                        src="./assets/images/blog-page-9.png"
                                        alt=""
                                    />
                                    <p class="p-1m blog_item--gap">
                                        Top 20 Effective Digital Marketing Tools
                                        to Help
                                    </p>
                                    <p class="p-2">July 27, 2021</p>
                                </div>
                            </div>
                            <div class="col">
                                <div class="blog__item">
                                    <img
                                        src="./assets/images/blog-page-10.png"
                                        alt=""
                                    />
                                    <p class="p-1m blog_item--gap">
                                        Top 20 Effective Digital Marketing Tools
                                        to Help
                                    </p>
                                    <p class="p-2 blog__gray">July 27, 2021</p>
                                </div>
                            </div>
                            <div class="col">
                                <div class="blog__item">
                                    <img
                                        src="./assets/images/blog-page-11.png"
                                        alt=""
                                    />
                                    <p class="p-1m blog_item--gap">
                                        Top 20 Effective Digital Marketing Tools
                                        to Help
                                    </p>
                                    <p class="p-2 blog__gray">July 27, 2021</p>
                                </div>
                            </div>
                            <div class="col">
                                <div class="blog__item">
                                    <img
                                        src="./assets/images/blog-page-12.png"
                                        alt=""
                                    />
                                    <p class="p-1m blog_item--gap">
                                        Top 20 Effective Digital Marketing Tools
                                        to Help
                                    </p>
                                    <p class="p-2 blog__gray">July 27, 2021</p>
                                </div>
                            </div>
                            <div class="col">
                                <div class="blog__item">
                                    <img
                                        src="./assets/images/blog-page-13.png"
                                        alt=""
                                    />
                                    <p class="p-1m blog_item--gap">
                                        Top 20 Effective Digital Marketing Tools
                                        to Help
                                    </p>
                                    <p class="p-2">July 27, 2021</p>
                                </div>
                            </div>
                            <div class="col">
                                <div class="blog__item">
                                    <img
                                        src="./assets/images/blog-page-14.png"
                                        alt=""
                                    />
                                    <p class="p-1m blog_item--gap">
                                        Top 20 Effective Digital Marketing Tools
                                        to Help
                                    </p>
                                    <p class="p-2 blog__gray">July 27, 2021</p>
                                </div>
                            </div>
                            <div class="col">
                                <div class="blog__item">
                                    <img
                                        src="./assets/images/blog-page-15.png"
                                        alt=""
                                    />
                                    <p class="p-1m blog_item--gap">
                                        Top 20 Effective Digital Marketing Tools
                                        to Help
                                    </p>
                                    <p class="p-2 blog__gray">July 27, 2021</p>
                                </div>
                            </div>
                            <div class="col">
                                <div class="blog__item">
                                    <img
                                        src="./assets/images/blog-page-16.png"
                                        alt=""
                                    />
                                    <p class="p-1m blog_item--gap">
                                        Top 20 Effective Digital Marketing Tools
                                        to Help
                                    </p>
                                    <p class="p-2 blog__gray">July 27, 2021</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="center">
                        <button class="btn outline-btn">Load More</button>
                    </div>
                </div>
            </section>
        </main>
        <%- include("./partials/footer.ejs") %>
        <script type="module" src="./main.js"></script>
    </body>
</html>
