@use "/scss/mixins";
@use "./variables" as *;
.heading--main {
    font: $h1-font;
    margin: $text-gap 0;
    @include mixins.screen(sm) {
        font-size: 35px;
        font-style: normal;
        font-weight: 800;
        line-height: 41px;
    }
}
.heading {
    font: $h2-font;
    margin: $text-gap 0;
    @include mixins.screen(sm) {
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        line-height: 36px;
    }
}
.h4-font {
    font: $h4-font;
    @include mixins.screen(sm) {
        font-size: 19.919px;
        font-style: normal;
        font-weight: 700;
        line-height: 28.973px;
    }
}
.h5-font {
    font: $h5-font;
    @include mixins.screen(sm) {
        font-size: 10px;
        font-style: normal;
        font-weight: 700;
        line-height: 13px;
    }
}
.sub-heading {
    font: $sub-heading;
    color: $gray-color;
    @include mixins.screen(sm) {
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        line-height: 17px;
    }
}
.p-1m {
    font: $p-1m;
}
.p-2 {
    font: $p-2;
    @include mixins.screen(sm) {
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
    }
}
.p-3 {
    font: $p-3;
}
.btn-1 {
    font: $btn-1;
}
.btn-2 {
    font: $btn-2;
}
// Bold
.bold {
    font-family: "Roboto Slab";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 34px;
}
